# Security
/docs/

# Env
.env
.env.*
!.env.example

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Builds
/dist/
/build/

# Logs
*.log

# Unusual files
postgres-portable/
remove-comments-deep.mjs
backend/alter.js
backend/apply-schema.mjs
backend/init-db.mjs
backend/migrate-location.mjs
backend/test-auth.mjs
backend/test-role.mjs
backend/migrations/
